{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Bibliothèque d'images{% endblock %}

{% block link_home %}<a href="{{ path('coud_app_adminfile_home') }}" title="Retour accueil images">Retour accueil images</a>{% endblock %}

{% block main_content %}
<div role="tabpanel">

	<ul id="myTab" class="nav nav-tabs" role="tablist" data-toggle="myTab">
		{% for size in sizes %}
	<li role="presentation" class="{% if loop.index0 == 0 %}active{% endif %}">
		<a href="#{{size.slug}}" id="{{size.slug}}-tab" aria-controls="{{ size.slug }}" role="tab" data-toggle="myTab">{{ size.title }}</a>
	</li>
		{% endfor %}
	</ul>

<!-- Tab panes -->
	<div class="tab-content col-xs-12">
	  	{% for size in sizes %}
			<div role="tabpanel" class="tab-pane {% if loop.index0 == 0 %}active fade in{% else %}fade{% endif %}" id="{{ size.slug }}">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Titre</th>
							<th>Alternatif</th>
							<th>Taille</th>
							<th>Image</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for image in images %}
						{% if image.imageSize.id == size.id %}
						{% set slug = size.slug %}
				        {% if size.slug == "square" %}
				            {% set slug = "article" %}
				        {% endif %}
				        <tr id="row_{{ loop.index }}">
							<td>{{ loop.index }}</td>
							<td>{{ image.title }}</td>
							<td>{{ image.alt }}</td>
							<td>{{ image.imageSize }}</td>
							<td>
								<img class="img-responsive" src="{{ asset('images/' ~ slug ~ '/' ~ image.getPath)}}" srcset ="{{ asset('images/' ~ slug ~ '/' ~ image.getPath) }} 1x, {{ asset('images/' ~ slug ~ '/retina/' ~ image.getPath)}} 2x" alt="{{ image.alt }}" title="{{ image.title }}" />
							</td>
							<td>
								{% set disabled = "disabled" %}
								{% if image.imageArticle | length == 0 and image.article | length == 0 %}
									{% set disabled = "" %}
								{% endif %}
        						<button type="button" onclick="Photo.deleteImage('{{ path('coud_app_adminfile_removeimage', {id: image.id}) }}', {{ loop.index }})" title="Supprimer" class="btn btn-primary {{ disabled }}" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></p>
        						<a data-toggle="tooltip" title="Modifier" class="btn btn-default disabled"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
							</td>
						</tr>
						{% endif %}

				{% endfor %}
					</tbody>
				</table>
			</div>
	    {% endfor %}
	</div>
</div>


{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$('#myTab a').click(function (e) {
		  e.preventDefault()
		  $(this).tab('show')
      });

	</script>
{% endblock %}
