{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Définir les tailles d'images{% endblock %}

{% block link_home %}
    <a href="{{ path('coud_app_adminfile_home') }}" title="Retour accueil images">Retour accueil images</a>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}

            <h4>Saisir une nouvelle taille</h4>
            {{ form(formImageSize, {'attr' : {'novalidate' : 'novalidate'} }) }}

            </div>
            <div class="col-xs-12 col-sm-6">

                <h4>Liste des tailles déjà existantes</h4>
                <ul>
                    {% for all in allSize%}
                        <li id="image-type-{{ all.id }}">{{all.title}}
                            ({{all.width}}
                            x
                            {{ all.height }})
                            <ul>
                                <li>{{ all.description }}</li>
                                <li>{{ all.slug }}</li>
                                {% if all.id > 2 %}
                                <li>
                                    <button data-id="{{ all.id }}" type="button" class="btn btn-danger delete-size" aria-label="Supprimer taille" data-toggle="tooltip" data-placement="right" title="Supprimer cette taille">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/lib/toastr/toastr.min.js')}}"></script>
    {% endblock %}

    {% block executeJS %}

    <script>
        document.addEventListener('DOMContentLoaded', SizeImage.init);
    </script>
    {% endblock %}
