{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Gestion de la bibliothèque d'images{% endblock %}

{% block main_content %}

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		<a href="{{ path('coud_app_adminfile_listimages') }}" class="btn btn-primary btn-block" title="Insertion des images">
				Bibliothèque d'images
			</a>
			<a href="{{ path('coud_app_adminfile_insertimage') }}" class="btn btn-primary btn-block" title="Insertion des images">
				Insérer de nouvelles images à la bibliothèque
			</a>
			<a href="{{ path('coud_app_adminfile_defineimagesize') }}" class="btn btn-primary btn-block" title="Insertion des images">
				Définir les tailles d'images
			</a>
		</div>
	</div>
{% endblock %}
