{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Insérer images{% endblock %}

{% block link_home %}<a href="{{ path('coud_app_adminfile_home') }}" title="Retour accueil images">Retour accueil images</a>{% endblock %}

{% block main_content %}

	<div class="row">

		<div class="col-xs-6">
            <h4>Sélectionner votre image ...</h4>

        	{{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}

            {{ form_start(formImage, {'attr' : {'novalidate' : 'novalidate'} }) }}
            {{ form_row(formImage.title) }}
            {{ form_row(formImage.alt) }}
            <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-btn">
	                    <span class="btn btn-info btn-file">
	                        Choisir une image {{form_widget(formImage.file) }}
	                    </span>
	                </span>
	                <input type="text" class="form-control" readonly>
	            </div>
	            <span class="help-block has-error">
                		{{ form_errors(formImage.file) }}
            	</span>
	        </div>

	        {{ form_rest(formImage) }}

            {{ form_end(formImage)}}

		</div>

		<div class="col-xs-6">
			<canvas id="imageCanvas"></canvas>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/app_admin_image.min.js')}}"></script>
{% endblock %}
