{% extends ':layouts:base_navbar.html.twig' %}
{% set urlArticle = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set countComments = 0 %}
{% set descriptionSocialNetwork = article.content | stripTagsAndHtmlEntityDecodeFilter %}
{% set imageSocialNetwork = app.request.getSchemeAndHttpHost() ~ asset('images/theme/' ~ article.image.getPath) %}
{% set title = article.title %}
{% block stylesheets %}
  {{ parent() }}
  {% if article.typeArticle.name == 'portfolio' %}
      <link rel="stylesheet" href="{{ asset('bundles/lib/owl.carousel/dist/assets/owl.carousel.min.css') }}" />
      <link rel="stylesheet" href="{{ asset('bundles/lib/owl.carousel/dist/assets/owl.theme.default.min.css') }}" />
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/article.min.css') }}"/>
{% endblock %}
{% block facebook %}
    <meta content="{{ title }}" property="og:title"/>
    <meta content="{{ imageSocialNetwork }}" property="og:image"/>
    <meta content="article" property="og:type"/>
    <meta content="{{ urlArticle }}" property="og:url"/>
    <meta content='{{descriptionSocialNetwork }}' property="og:description"/>
    <meta content="Coud la comme Judith" property="og:site_name"/>
    <meta content="288" property="og:image:width" />
    <meta content="192" property="og:image:height" />
    <meta content="979895058799142" property="fb:app_id"/>
{% endblock %}
{% block twitter %}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@Viggo094" />
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ descriptionSocialNetwork }}"/>
    <meta name="twitter:image" content="{{ imageSocialNetwork }}" />
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main_content %}

    <ol class="breadcrumb">
        <li>
            <a href="{{ path('coud_app_home_index') }}" title="Retour accueil">
                <span aria-hidden="true" class="glyphicon glyphicon-home"></span>
            </a>
        </li>
        <li>
            <a href="{{ path('coud_app_menu_showalltheme', {'mainMenu': mainMenuSlug }) }}" title="{{ article.mainMenu.title }}">{{ article.mainMenu.title }}</a>
        </li>
        <li>
            <a href="{{ path('coud_app_menu_showtheme', {'mainMenu': mainMenuSlug, 'subMenu': subMenuSlug }) }}" title="{{ article.subMenu.title }}">{{ article.subMenu.title }}</a>
        </li>
        <li class="active">
            {{ title }}
        </li>
    </ol>
    <article class="row">
        {% if article.typeArticle.name == 'article' %}
            {{ include('CoudAppBundle:Document:article.html.twig', {'article': article}) }}
        {% elseif article.typeArticle.name == 'portfolio' %}
            {{ include('CoudAppBundle:Document:portfolio.html.twig', {'article': article}) }}
        {% elseif article.typeArticle.name == 'square' %}
            {{ include('CoudAppBundle:Document:square.html.twig', {'article': article}) }}
        {% endif %}
        <div class="social_network col-xs-12">
            <button class="btn" id="facebookShare">
                <i class="fa fa-facebook fa-2x"></i>
            </button>

            <button class="btn" id="twitterShare">
                <i class="fa fa-twitter fa-2x"></i>
            </button>

            <a class="btn" id="pinterestShare" target="_blank" type="button" data-pin-custom="true" data-pin-log="button_pinit">
                <i class="fa fa-pinterest fa-2x"></i>
            </a>
        </div>
    </article>

    <!-- <div class="fb-like pull-left" data-action="recommend" data-href="{{ urlArticle }}" data-layout="button_count" data-share="false" data-show-faces="true"></div> -->
    <div id="fb-root"></div>

    <div class="clearfix"></div>
    <div class="comment row" id="commentCollapse">
        <div class="page-header"></div>

        <div class="col-xs-12 col-sm-6 col-sm-offset-3 commentList">
            {% if article.comments | length == 0 %}
                <p>Soyez la première personne à laisser un commentaire!
                </p>

            {% else %}
                <a aria-controls="commentCollapse" aria-expanded="false" class="btn btn-primary commentShowButton noStandalone" id="commentShowButton" role="button">
                    Afficher les commentaires ()
                </a>
                <div id="allComments" style="display: none">
                    {% for comment in article.comments %}
                        {% set class = 'commentPair' %}
                        {% if loop.index is divisible by(2) %}
                            {% set class = 'commentImpair' %}
                        {% endif %}
                        {% if comment.moderation %}
                            {% set countComments = countComments + 1 %}
                            <div class="{{ class }}">
                                <p>{{ comment.content }}</p>
                                <div class="infoComment">
                                    <p>Par
                                        {{ comment.firstName }}
                                        {{ comment.lastName }}, le
                                        <time datetime="{{ comment.dateCreated | date('Y-m-d') }}">{{ comment.dateCreated | localizeddate('long', 'none', 'fr') }}</time>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <a aria-controls="commentCollapse" aria-expanded="false" class="btn btn-primary commentShowButton noStandalone" id="commentShowForm" role="button">
                Effectuer un commentaire
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-sm-offset-3 commentForm" id="commentForm" style="display: none">
            <!-- <div class="alert" id="alert" role="alert"></div> -->
            {{ form(commentForm, { 'attr' : { 'novalidate' : 'novalidate', 'action': path('coud_app_document_setcomment', {'mainMenu': mainMenuSlug, 'subMenu': subMenuSlug, 'slug': slug})  } } ) }}
            </div>
        </div>
        <p id="countComments" style="display: none">{{ countComments }}</p>

    {% endblock %}

    {% block executeJS %}
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
        <script src="/js/socialNetwork.min.js"></script>
        <script>
            window.addEventListener('DOMContentLoaded', SocialNetwork.init('{{ routeName }}', '{{ title }}'));

            window.addEventListener('DOMContentLoaded', function() {
                Comment.init('comment');
                Ajax.init('comment', commentShowForm);
            });
        </script>

        {% if article.typeArticle.name == 'portfolio' %}
            <script src="{{ asset('bundles/lib/owl.carousel/dist/owl.carousel.min.js')}}"></script>
            <script>
                $('.owl-carousel').owlCarousel({
                    items: 1,
                    margin: 100,
                    autoplay: true,
                    smartSpeed: 800,
                    autoplayTimeout: 10000,
                    autoplayHoverPause: true,
                    autoHeight: true,
                    autoWidth: '{{ isMobileOrTablet ? false : true }}',
                    center: true,
                    nav:true
                });
            </script>
        {% endif %}
    {% endblock %}
