<nav class="navbar navbar-default navbar-fixed-top" id="navbarTop">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('coud_app_home_index') }}">Coud la comme Judith</a>
        </div>
        <div class="main-block-open-desktop-menu">
          <div id="open-desktop-menu" class="open-desktop-menu pull-right">
            <!-- <span class="sr-only"></span> -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
        </div>

        <div class="collapse navbar-collapse pull-right hide-menu" id="navbar">

            {% for menu in menus %}
            <ul class="nav navbar-nav">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        {{ menu.title }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('coud_app_menu_showalltheme', {'mainMenu': menu.link } ) }}">Tous</a>
                        </li>
                        {% for subMenu in menu.subMenu %}
                        <li>
                            <a href="{{ path('coud_app_menu_showtheme', {'mainMenu': menu.link, 'subMenu': subMenu.link} ) }}">{{ subMenu.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% endfor %}
            <ul class="nav navbar-nav">
                <li role="presentation">
                    <a href="{{ path('coud_app_menu_contact') }}"><i class="fa fa-envelope"></i> Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li role="presentation">
                    <a href="{{ path('coud_app_json_whoiam') }}"><i class="fa fa-question-circle"></i> Qui suis-je</a>
                    <a class="copyright mentionsLegales visible-xs visible-sm noStandalone" data-toggle="modal" data-target="#legals"><i class="fa fa-copyright"></i> Mentions légales</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
