{% extends ':layouts:base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/navbar.min.css') }}"/>
{% endblock %}

{% block nav %}
    {{ render(controller('CoudAppBundle:Menu:getAllMenus')) }}
{% endblock %}
