{% extends ':layouts:base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.min.css') }}" />
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand">{% block title %}{% endblock %}</p>
            {% if app.user.firstName is defined %}
                {% block hello_user %}{% endblock %}
            {% endif %}
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a data-toggle="tooltip" data-placement="bottom" href="{{ path('coud_app_admin_home') }}" title="Retour accueil administrateur"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        {% block link_home %}{% endblock %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if app.user %}
                            <a href="{{ path('logout') }}" data-placement="left" data-toggle="tooltip" title="Deconnexion" type="button">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            </a>
                            {% else %}
                            <a href="{{ path('coud_app_security_login') }}" title='Connexion' type="button" class="btn btn-default navbar-btn">
                                Se connecter
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/scripts.min.js')}}"></script>
<script src="{{ asset('bundles/lib/highcharts-release/highcharts.js')}}"></script>
<script src="{{ asset('bundles/lib/highcharts-release/highcharts-more.js')}}"></script>
<script src="{{ asset('bundles/lib/highcharts-release/modules/exporting.js')}}"></script>
<script src="{{ asset('js/app_admin.min.js')}}"></script>
{% endblock %}

{% block footer %}
    <footer class="footer footerAdmin">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 pull-right">
                    <p class="copyright"><i class="fa fa-copyright"></i> {{ "coud la comme judith" | title }} - {{ "now"|date("Y") }} | Version 1.3</p>
                </div>
            </div>
    </footer>

{% endblock %}

{% block executeJS %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}
