<!DOCTYPE html>
<html lang='fr'>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Créations textiles confectionnées à la main avec du matériel de qualité (Décorations, sacs, cadeaux de naissance). Elaboration au tricot et crochet. Conception de parures de bijoux"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {% block facebook %}{% endblock %}
    {% block twitter %}{% endblock %}
    <title>
      {% block title %}Liberty, créations textiles, tricot et crochet, décorations d'intérieur{% endblock %}
      | Coud la comme Judith</title>

    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{{ preload(asset('css/main.min.css'), { as: 'style'}) }}"/>
      <link rel="stylesheet" type="text/css" href="{{ asset('css/global.min.css') }}"/>
    {% if isHomepage is defined and isHomepage %}
      <link rel="stylesheet" type="text/css" href="{{ asset('css/homepage.min.css') }}"/>
    {% endif %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('maisonnette-liberty.png') }}">

  </head>
  <body>
    {% block nav %}{% endblock %}
    <div class="container-fluid" id="container">
      {% block main_content %}{% endblock %}
    </div>
    {% block footer %}
      {% embed ":layouts:base_footer.html.twig" %}{% endembed %}
    {% endblock %}

    {% block modal %}{% endblock %}

    {% block javascripts %}
      <script src="{{ asset('js/scripts.min.js')}}"></script>
      <script>
        (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
          },
          i[r].l = 1 * new Date();
          a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-49332991-1', 'coudlacommejudith.fr');
        ga('send', 'pageview');
      </script>
    {% endblock %}
    {% block executeJS %}{% endblock %}
  </body>
</html>
