{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.min.css') }}"/>
{% endblock %}

{% block footer %}
  <footer class="footer hidden-xs">
    <div class="container-fluid">
      <div class="row">
        <div class="btn-group-vertical col-xs-12 col-sm-6" role="group">
          <a href="https://www.facebook.com/bazardejujue?fref=ts" class="btn btn-default noStandalone" alt="Facebook - Coud la comme Jujue" id="lienFacebook" title="Facebook - Coud la comme Jujue">
            <i class="fa fa-facebook"></i>
            Coud la comme Judith ({{ FacebookService.getFacebookFanCount }}
            fans)</a>
          <a class="btn btn-default noStandalone" href="http://www.alittlemarket.com/boutique/coud_la_comme_judith-994819.html" id="littleMarket" alt='Ma boutique sur "A Little Market"' title='Ma boutique sur "A Little Market"' role="button">
            <i class="fa fa-cart-arrow-down"></i>
            Ma boutique sur "A Little Market"</a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="copyright">
            <i class="fa fa-copyright"></i>
            {{ "coud la comme judith" | title }}
            -
            {{ "now" | date("Y") }}</p>
          <a class="copyright mentionsLegales noStandalone" data-toggle="modal" data-target="#legals">Mentions légales</a>
        </div>
      </div>
    </div>
  </footer>
  <footer class="visible-xs footerXs">
    <a href="https://www.facebook.com/bazardejujue?fref=ts" class="btn btn-default facebookXs noStandalone" id="lienFacebook" alt="Facebook - Coud la comme Jujue" title="Facebook - Coud la comme Jujue">
      <i class="fa fa-facebook fa-2x"></i>
      {{ FacebookService.getFacebookFanCount }}
      fans</a>
    <a class="btn btn-default littleXs noStandalone" href="http://www.alittlemarket.com/boutique/coud_la_comme_judith-994819.html" id="littleMarket" title='Ma boutique sur "A Little Market"' alt='Ma boutique sur "A Little Market"' role="button">
      <i class="fa fa-cart-arrow-down"></i>
      Ma boutique sur "A Little Market"</a>
  </footer>
{% endblock %}

{% block modal %}
  {{ render(controller('CoudAppBundle:Json:legalNotices', { 'max': 3 })) }}
{% endblock %}
