{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Qui suis-je ?{% endblock %}

	{% block link_home %}<a href="{{ path('coud_app_admin_home') }}" title="Retour accueil">Retour accueil</a>{% endblock %}

	{% block main_content %}
		<div class="row">
			<div class="col-xs-6">
				<!-- {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }} -->

			{{ form_start(asideForm, {'attr' : {'novalidate' : 'novalidate'} }) }}

            {{ form_row(asideForm.title) }}
            {{ form_row(asideForm.content) }}
            <div class="form-group">
	            <div class="input-group">
	                <span class="input-group-btn">
	                    <span class="btn btn-info btn-file">
	                        Choisir une image {{form_widget(asideForm.file) }}
	                    </span>
	                </span>
	                <input type="text" class="form-control" readonly>
	            </div>
	            <span class="help-block has-error">
                		{{ form_errors(asideForm.file) }}
            	</span>
	        </div>

            {{ form_end(asideForm)}}

		</div>

		<div style="text-align: center" class="col-xs-6">
			{% if aside.path is defined %}
				<div id="oldImage">
					<h5>Image actuellement utilisée</h5>

					<img src="{{ asset('images/aside/' ~ aside.getWebPath)}}" srcset ="{{ asset('images/aside/' ~ aside.getWebPath) }} 1x, {{ asset('images/aside/retina/' ~ aside.getPath)}} 2x" alt="{{ aside.getTitle }}" />
				</div>
			{% endif %}
			<canvas id="imageCanvas"></canvas>

		</div>
	</div>

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		{{ 	tinymce_init() }}
		<script src="{{ asset('js/app_admin_image.js')}}"></script>
        {% if (sessionMessage) %}
        <script>
            toastr.{{ sessionMessage.status }}('{{ sessionMessage.message }}');
        </script>
        {% endif %}
	{% endblock %}
