{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Création d'un nouveau rôle{% endblock %}
	{% block link_home %}<a href="{{ path('coud_app_adminrole_listroles') }}" title="Retour liste des rôles">Retour liste des rôles</a>{% endblock %}

{% block main_content %}
	
	<div class="row">

		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
            
			{{ form(roleForm, { 'attr' : { 'novalidate' : 'novalidate'} } ) }}
		</div>

	</div>
    
{% endblock %}
