{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Gestion des rôles{% endblock %}

{% block main_content %}
	
	<div class="row">

		<div class="col-xs-12 col-sm-6">
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
         
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nom du rôle</th>
						<th>Nom technique du rôle</th>
						<th>Priorité</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
			    {% for role in roles %}
					<tr>
						<td>{{ role.id }}</td>
						<td>{{ role.name }}</td>
						<td>{{ role.role }}</td>
						<td>{{ role.priority }}</td>
						<td>
                			<a href='{{ path('coud_app_adminrole_modifyrole', {id : role.id}) }}' title="Modification d'un rôle" class="btn btn-info">Modifier</a>
            			</td>
					</tr>
			    {% endfor %}
				</tbody>
			</table>
		</div>

		<div class="col-xs-12 col-sm-6">
			<a href="{{ path('coud_app_adminrole_createrole') }}" class="btn btn-primary btn-block" title="Création d'un rôle">
				Nouveau rôle
			</a>
			<a href="{{ path('coud_app_adminuser_listusers') }}" class="btn btn-primary btn-block" title="Liste des utilisateurs">
				Liste des utilisateurs
			</a>
		</div>
	</div>
    
{% endblock %}
