{% for flashMessage in app.session.flashbag.get('validMessage') %}
    <div class="alert alert-success" style="display: block; opacity: 1">
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  			<span aria-hidden="true">&times;</span>
		</button>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('errorMessage') %}
    <div class="alert alert-danger" style="display: block; opacity: 1">
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  			<span aria-hidden="true">&times;</span>
		</button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ flashMessage }}
    </div>
{% endfor %}
