{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Gestion du cache{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Gestion du cache</h3>
				</div>
				<div class="panel-body">
					<a href="{{ path('coud_app_admincache_cachecleartype', { type: 'apc' }) }}" class="btn btn-primary btn-block" title="Suppression du cache apc">
						Suppression du cache APC
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block executeJS %}
    {% if (sessionMessage) %}
    <script>
        Message.setMessage('{{ sessionMessage.type }}', '{{ sessionMessage.message }}', '{{ sessionMessage.title}}');
    </script>
    {% endif %}
{% endblock %}
