{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Gestion des menus{% endblock %}

{% block main_content %}
	
	<div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Menus principaux</h3>
                </div>
                <div class="panel-body">
                    <a href="{{ path('coud_app_adminmenu_managemainmenu') }}" title="Gestion des menus principaux" class="btn btn-primary btn-block">
                        Gestion des menus principaux
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Sous menus</h3>
                </div>
                <div class="panel-body">
                    <a href="{{ path('coud_app_adminmenu_listsubmenu') }}" title="Liste des sous-menus" class="btn btn-default btn-block">
                        Liste des sous-menus
                    </a>
                    <a href="{{ path('coud_app_adminmenu_managesubmenu') }}" title="Gestion des menus secondaires" class="btn btn-default btn-block">
                        Création d'un sous-menu
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
