{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Liste des sous-menus{% endblock %}
{% block link_home %}<a href="{{ path('coud_app_adminmenu_home') }}" title="Retour accueil menus">Retour accueil menus</a>{% endblock %}

{% block main_content %}
    {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom du sous-menu</th>
                <th>Nom du lien</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for sub in subMenus %}
            <tr>
                <td>{{ sub.id }}</td>
                <td>{{ sub.title }}</td>
                <td>{{ sub.link }}</td>
                <td>{{ sub.dateCreated | localizeddate('long', 'none', 'fr') }}</td>
                <td>{{ sub.dateModified | localizeddate('long', 'none', 'fr') }}</td>
                <td>
                    <a data-toggle="tooltip" title="Modifier" href='{{ path('coud_app_adminmenu_modifysubmenu', { id: sub.id }) }}' class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block executeJS %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}
