{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Gestion des menus principaux{% endblock %}
{% block link_home %}<a href="{{ path('coud_app_adminmenu_home') }}" title="Retour accueil menu">Accueil menu</a>{% endblock %}

{% block main_content %}
	
	<div class="row">

		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
            
			{{ form(mainMenuForm, { 'attr' : { 'novalidate' : 'novalidate'} } ) }}
		</div>

		<div id="showMenuExist" class="col-xs-12">
			{{ render(controller('CoudAppBundle:AdminMenu:getAllMenu')) }}
		</div>
		
	</div>
    
{% endblock %}
