{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Création d'un sous-menu{% endblock %}
{% block link_home %}<a href="{{ path('coud_app_adminmenu_home') }}" title="Retour accueil menus">Retour accueil menu</a>{% endblock %}

{% block main_content %}
    
	<div class="container">
    	<div class="row">
    
    		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
                {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
    			{{ form(subMenuForm, { 'attr' : { 'novalidate' : 'novalidate'} } ) }}
    		</div>

    	</div>
    </div>
{% endblock %}
