{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Détail{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<p>Nom de l'article : {{ comment.article.title }}</p>
			<p>Commentaire : {{ comment.content }}</p>
			<p>Prénom : {{ comment.firstName }}</p>
			<p>Nom : {{ comment.lastName }}</p>
			<p>Mail : {{ comment.email }}</p>
			<p>Date création : {{ comment.dateCreated | localizeddate('full', 'none', 'fr') }}</p>
			<p>Date validaton : {{ comment.dateModified | localizeddate('full', 'none', 'fr') }}</p>


			{% if comment.moderation == false %}
			<a href="{{ path('coud_app_admincomment_validcomment', { id: comment.id }) }}" data-toggle="tooltip" title="Valider" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
			<a href="{{ path('coud_app_admincomment_removecomment', { id: comment.id }) }}" data-toggle="tooltip" title="Supprimer" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
			{% endif %}
		</div>
	</div>

	
	

	
					
	            

{% endblock %}
