{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Gestion des commentaires{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Gestion des commentaires</h3>
				</div>
				<div class="panel-body">
					<a href="{{ path('coud_app_admincomment_waitcomment') }}" class="btn btn-primary btn-block" title="Liste des commentaires en attente">
						Liste des commentaires en attente
					</a>
					<a href="{{ path('coud_app_admincomment_listcomment') }}" class="btn btn-primary btn-block" title="Liste des commentaires validés">
						Voir les commentaires validés
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
