{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Tous les commentaires validés{% endblock %}

{% block main_content %}
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom de l'article</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
	    {% for comment in comments %}
			<tr>
				<td>{{ comment.id }}</td>
				<td>{{ comment.article.title }}</td>
				<td>{{ comment.firstName }}</td>
				<td>{{ comment.lastName }}</td>
				<td>
					<a href="{{ path('coud_app_admincomment_detailcomment', { id: comment.id }) }}" data-toggle="tooltip" tooltip="Détail" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
	            </td>
			</tr>
	    {% endfor %}
		</tbody>
	</table>

{% endblock %}
