{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Commentaires en attente{% endblock %}

{% block main_content %}
	<div class="col-xs-6 col-xs-offset-3">
        {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
    </div>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom de l'article</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
	    {% for comment in comments %}
			<tr>
				<td>{{ comment.id }}</td>
				<td>{{ comment.article.title }}</td>
				<td>{{ comment.firstName }}</td>
				<td>{{ comment.lastName }}</td>
				<td>
					<a href="{{ path('coud_app_admincomment_validcomment', { id: comment.id }) }}" data-toggle="tooltip" title="Valider" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
					<a href="{{ path('coud_app_admincomment_removecomment', { id: comment.id }) }}" data-toggle="tooltip" title="Supprimer" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
					<a href="{{ path('coud_app_admincomment_detailcomment', { id: comment.id }) }}" data-toggle="tooltip" title="Détail" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
	            </td>
			</tr>
	    {% endfor %}
		</tbody>
	</table>

{% endblock %}
