<html>
    <head></head>
    <body>
        <h1>Réinitialisation de votre compte</h1>

        <p>Bonjour
            {{user.firstName}}
            {{user.lastName}}</p>

        <p>Votre mot de passe vient d'être réinitialisé.</p>

        {{ road }}
    </body>
</html>
