<html>
    <head></head>
    <body>
        <h1>Nouveau commentaire !!!</h1>

        <p>L'article "{{title}}" a reçu un nouveau commentaire !!!</p>

        <a href="http://localhost/coud_v3/web/app_dev.php/admin/comment/en-attente-de-moderation">Le commentaire est en attente de modération</a>
    </body>
</html>
