Nouveau message !!!

Bonjour Judith !!!

Vous avez reçu un message de la part de :

	Prénom : {{ contact.firstName }}
	Nom : {{ contact.lastName }}
	Adresse Mail : {{ contact.email }}
	Commentaire : {{ contact.content }}
