<html>
    <head></head>
    <body>
        <h1>Nouveau message !!!</h1>

        <p>Bonjour Judith !!!</p>
 
        <p>Vous avez reçu un message de la part de :</p>
        <ul>
            <li>Prénom :
                {{ contact.firstName }}</li>
            <li>Nom :
                {{ contact.lastName }}</li>
            <li>Adresse Mail :
                {{ contact.email }}</li>
            <li>Commentaire :
                {{ contact.content }}</li>
        </ul>
    </body>
</html>
