<html>
    <head></head>
    <body>
        <h1>Nouveau message !!!</h1>

        <p>Bonjour
            {{ contact.firstName }}
            !!!</p>

        <p>J'ai bien reçu votre message. J'espère vous répondre rapidement</p>
 
        <p>A bientôt !</p>

        <p>Judith</p>

    </body>
</html>
