{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Vues{% endblock %}

{% block main_content %}
    <div class="col-xs-6 col-xs-offset-3">
        {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom de l'article</th>
                <th>Date création</th>
                <th>Date modification</th>
                <th>Vues</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.dateCreated | localizeddate('long', 'none', 'fr') }}</td>
                <td>{{ article.dateModified | localizeddate('long', 'none', 'fr') }}</td>
                <td>{{ article.view }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="view" style="margin: 40px 0"></div>

{% endblock %}

{% block executeJS %}
<script>
    function getData(callback) {
    	var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
        	if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {
        		callback(JSON.parse(xhr.responseText));
        	}
        };

        xhr.open("GET", '{{ url('getDataViews')  }}', true);
        xhr.send(null);
    }

    function getHighCharts(data) {
        $(function () {
            $('#view').highcharts(data);
        });
    }

    window.addEventListener('DOMContentLoaded', function() {
        getData(getHighCharts);
    })


</script>
{% endblock %}
