{% extends ':layouts:base_admin.html.twig' %}

{% block hello_user %}
<p style="margin-right: 30px" class="navbar-text navbar-right">Bonjour {{app.user.firstName}}</p>
{% endblock %}


{% block title %}Accueil administration{% endblock %}

{% block main_content %}

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
        </div>

        <div style="margin-bottom: 20px" class="col-xs-12">
            <a href="{{ path('coud_app_home_index') }}" class="btn btn-primary btn-block" title="Coud la comme Judith">
				Coud la comme Judith
			</a>
        </div>

		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-primary">
  				<div class="panel-heading">
    				<h3 class="panel-title">Gestion du site</h3>
  				</div>
  				<div class="panel-body">
					<a href="{{ path('coud_app_adminmenu_home') }}" class="btn btn-primary btn-block" title="Gestion des menus">
						Gestion des menus
					</a>
					<a href="{{ path('coud_app_admindocument_home') }}" class="btn btn-primary btn-block" title="Gestion des documents">
						Gestion des documents
					</a>
                    <a href="{{ path('coud_app_admintypearticle_home') }}" class="btn btn-primary btn-block" title="Gestion des types de documents">
                        Gestion des types de documents
                    </a>
					<a href="{{ path('coud_app_adminjson_whoiam') }}" class="btn btn-primary btn-block" title="Qui suis-je ?">
						Qui suis-je ?
					</a>
					<a href="{{ path('coud_app_adminfile_home') }}" class="btn btn-primary btn-block" title="Gestion des images">
						Gestion des images
					</a>
					<a href="{{ path('coud_app_admincomment_home') }}" class="btn btn-primary btn-block" title="Modération des commentaires">
						Modération des commentaires
					</a>
                    <a href="{{ path('coud_app_adminparameters_parameters') }}" class="btn btn-primary btn-block" title="Paramètres">
                        Paramètres
                    </a>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-info">
  				<div class="panel-heading">
    				<h3 class="panel-title">Statistiques</h3>
  				</div>
  				<div class="panel-body">
  					<a href="{{ path('coud_app_adminstat_countview') }}" class="btn btn-info btn-block" title="Nombre de vues">
						Nombres de vues
					</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-success">
  				<div class="panel-heading">
    				<h3 class="panel-title">Gestion des utilisateurs</h3>
  				</div>
  				<div class="panel-body">
  					<a href="{{ path('coud_app_adminuser_accountuser') }}" class="btn btn-success btn-block" title="Gestion des menus">
						Informations personnelles
					</a>
  					<a href="{{ path('coud_app_adminuser_updatepassword') }}" class="btn btn-success btn-block" title="Gestion des menus">
						Changer de mot de passe
					</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('coud_app_adminuser_listusers') }}" class="btn btn-warning btn-block" title="Liste des utilisateurs">
						Liste des utilisateurs
					</a>
					<a href="{{ path('coud_app_adminuser_createuser') }}" class="btn btn-warning btn-block" title="Création d'un utilisateur">
						Création d'un utilisateur
					</a>
    				<a href="{{ path('coud_app_adminrole_listroles') }}" class="btn btn-warning btn-block" title="Gestion des rôles utilisateurs">
						Gestion des rôles utilisateurs
					</a>

				{% endif %}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
