{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Liste des articles{% endblock %}
{% block link_home %}<a href="{{ path('coud_app_admindocument_home') }}" title="Retour accueil documents">Retour gestion des documents</a>{% endblock %}

{% block main_content %}
	{{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom de l'article</th>
				<th>Publié ?</th>
				<th>Date de création</th>
				<th>Date de modification</th>
				<th>Auteur</th>
				<th>Action</th>
				<th>Type article</th>
			</tr>
		</thead>
		<tbody>
		{% for article in articles %}
			{% if article.published %}
	            {% set class, published, bouton, labelBouton, tooltipActive = 'success', 'Oui', 'btn btn-danger', 'glyphicon-remove', 'Désactiver le document' %}
	        {% else %}
	            {% set class, published, bouton, labelBouton, tooltipActive = 'danger', 'Non', 'btn btn-success', 'glyphicon-ok', 'Activer le document' %}
	        {% endif %}

			<tr class='{{ class }}'>
				<td>{{ article.id }}</td>
				<td>{{ article.title }}</td>
				<td>{{ published }}</td>
				<td>{{ article.dateCreated | localizeddate('long', 'none', 'fr') }}</td>
				<td>{{ article.dateModified | localizeddate('long', 'none', 'fr') }}</td>
				<td>{{ article.author.firstName }} {{ article.author.lastName }}</td>
				<td>
	                <a role="button" data-toggle="tooltip" title="{{ tooltipActive }}" href='{{ path("coud_app_admindocument_activedocument", {type: article.typeArticle.name, id : article.id}) }}' class="{{ bouton }}"><span class="glyphicon {{ labelBouton }}" aria-hidden="true"></span></a>
                    <a data-toggle="tooltip" title="Modifier" href='{{ path('coud_app_admindocument_modifydocument', { id: article.id }) }}' class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
	                <a data-toggle="tooltip" title="Prévisualiser" href='{{ path('coud_app_admindocument_previewdocument', {type: article.typeArticle.name | lower, id: article.id} )}}' class="btn btn-default"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
	            </td>
	            <td>{{ article.typeArticle.name | capitalize }}</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% block executeJS %}
<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
{% endblock %}
