{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Création d'un nouvel {{ typeArticle.name | lower }}{% endblock %}

	{% block link_home %}<a href="{{ path('coud_app_admindocument_home') }}" title="Retour accueil documents">Retour gestion des documents</a>{% endblock %}

	{% block main_content %}

		{{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
		{{ form_start(articleForm, { 'attr' : { 'novalidate' : 'novalidate'} }) }}
            <div class="col-xs-12 col-sm-6">
                {{ form_row(articleForm.title) }}
            </div>
            <div class="col-xs-12 col-sm-6">
			    {{ form_row(articleForm.mainMenu) }}
            </div>
            <div class="col-xs-12 col-sm-6">
			    {{ form_row(articleForm.subMenu) }}
            </div>
			<div class="form-group col-xs-12 col-sm-6">
				{{ form_label(articleForm.image) }}
				<span class="help-block has-error">
                	{{ form_errors(articleForm.image) }}
            	</span>
				<div class="clearfix"></div>
				{% for img in articleForm.image %}
					{% set entity = articleForm.image.vars.choices[img.vars.value].data %}
					<div style="cursor: pointer" class="col-xs-3">
						<div class="thumbnail">
							<img src="{{ asset('images/theme/' ~ entity.getPath) }}" srcset ="{{ asset('images/theme/' ~ entity.getWebPath)}} 1x, {{ asset('images/theme/retina/' ~ entity.getPath)}} 2x" title="{{ entity.title }}" alt="{{ entity.alt }}" />
							{{ form_widget(img) }}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6">
			    {{ form_row(articleForm.content) }}
            </div>
            <div class="form-group col-xs-12 col-sm-6">
			{% if articleForm.images is defined %}

				{{ form_label(articleForm.images) }}
				{{ form_errors(articleForm.images) }}
				<div class="clearfix"></div>
				<div class="addImagesForm">
					{% for img in articleForm.images %}
						{% set entity = articleForm.images.vars.choices[img.vars.value].data %}
						<div style="cursor: pointer" class="col-xs-3">
							<div class="thumbnail">
								<img src="{{ asset('images/article/' ~ entity.getPath) }}" srcset ="{{ asset('images/article/' ~ entity.getWebPath)}} 1x, {{ asset('images/article/retina/' ~ entity.getPath)}} 2x" title="{{ entity.title }}" alt="{{ entity.alt }}" />
								{{ form_widget(img) }}
							</div>
						</div>
					{% endfor %}
				</div>

			<div class="clearfix"></div>
			{% endif %}

    		{% if images is not null %}
    		<div class="row addImagesForm">
    			<h5 style="font-weight: 700">Images à ajouter à l'article</h5>
    		{% for image in images %}
    			{% if image.imageSize.slug == 'article' %}
    			<div style="text-align: center; cursor: pointer" class="col-xs-3 imageForArticle">
    				<div class="thumbnail hvr-sweep-to-right">
    					<img src="{{ asset('images/article/' ~ image.getPath)}}" srcset ="{{ asset('images/article/' ~ image.getPath)}} 1x, {{ asset('images/article/retina/' ~ image.getPath)}} 2x" alt="{{ image.title }}" title="{{image.title}}" />
    					<h5 class="titre">{{ image.title }}</h5>
    					<h5 class="texte">Ajouter à l'article</h5>
    				</div>
    			</div>
    			{% endif %}
    		{% endfor %}
    		</div>
        </div>
		{% endif %}
        <div class="col-xs-12 col-sm-6">
            {{ form_row(articleForm._token) }}
            {{ form_row(articleForm.submit) }}
        </div>

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		{{ 	tinymce_init() }}
	{% endblock %}
