{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Choisir les articles importants{% endblock %}

{% block link_home %}<a href="{{ path('coud_app_admindocument_home') }}" title="Retour accueil documents">Retour gestion des documents</a>{% endblock %}

	{% block main_content %}
		<div class="col-xs-6 col-xs-offset-3">
        	{{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
    	</div>

		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Nom de l'article</th>
					<th>Date de création</th>
					<th>Date de modification</th>
					<th>Auteur</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{% for article in articles %}
				{% if article.important %}
		         	{% set bouton, labelBouton, tooltip = 'btn btn-warning', 'glyphicon-thumbs-down', 'Passer au niveau normal' %}
		        {% else %}
		            {% set bouton, labelBouton, tooltip = 'btn btn-success', 'glyphicon-thumbs-up', 'Passer au niveau important' %}
		        {% endif %}
				<tr>
					<td>{{ article.id }}</td>
					<td>{{ article.title }}</td>
					<td>{{ article.dateCreated | localizeddate('long', 'none', 'fr') }}</td>
					<td>{{ article.dateModified | localizeddate('long', 'none', 'fr') }}</td>
					<td>{{ article.author.firstName }} {{ article.author.lastName }}</td>
					<td>
		                <a data-toggle="tooltip" title="{{ tooltip }}" href='{{ path('coud_app_admindocument_manageimportant', {id : article.id}) }}' class="{{ bouton }}"><span class="glyphicon {{ labelBouton }}" aria-hidden="true"></span></a>
                    </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>


	{% endblock %}
