{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Gestion des documents{% endblock %}

{% block main_content %}
	<div class="row">

		<div class="col-xs-12 col-sm-6">
			<div class="panel panel-primary">
  				<div class="panel-heading">
    				<h3 class="panel-title">Création</h3>
  				</div>
  				<div class="panel-body">
                {% for typeArticle in typeArticles %}
    				<a href="{{ path('coud_app_admindocument_createdocument', { typeName: typeArticle.name | lower }) }}" class="btn btn-primary btn-block" title="Nouvel {{ typeArticle.name }}">
                        Créer un nouvel {{ typeArticle.name | lower }}
                    </a>
                {% endfor %}
  				</div>
			</div>
		</div>

	
         <div class="col-xs-12 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste</h3>
                </div>
                <div class="panel-body">
                {% for typeArticle in typeArticles %}
                    <a href="{{ path('coud_app_admindocument_listdocuments', { type: typeArticle.name | lower }) }}" class="btn btn-primary btn-block" title="Liste des {{ typeArticle.name | capitalize }}">
                        {{ typeArticle.name | capitalize }}s
                    </a>
                {% endfor %}
                    <a href="{{ path('coud_app_admindocument_alldocuments') }}" class="btn btn-primary btn-block" title="Liste des documents">
                        Tous les articles
                    </a>
                </div>
            </div>
        </div>


		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<a href="{{ path('coud_app_admindocument_listimportant') }}" class="btn btn-primary btn-block" title="Choix des articles importants">
				Choix des articles importants
			</a>
		</div>
	</div>
{% endblock %}
