{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Création d'un document de type "{{ typeArticle.name | lower }}"{% endblock %}

{% block main_content %}
	<div class="row">

	</div>
{% endblock %}
