{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Prévisualisation du document de type '{{ type }}'{% endblock %}
{% block link_home %}<a href="{{ path('coud_app_admindocument_listdocuments', {type: article.typeArticle.name}) }}" title="Retour accueil menu article">Retour gestion des articles</a>{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/article.css')}}" />
{% endblock %}

{% block main_content %}

    {% if article.published %}
        {% set class, label = 'btn btn-warning', 'Désactiver le document' %}
    {% else %}
        {% set class, label = 'btn btn-success', 'Activer le document' %}
    {% endif %}

<div class="row">
	<div class="col-xs-12">
        {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
    </div>

	<div class="col-xs-6 manageArticle">
  		<a role="button" href='{{ path("coud_app_admindocument_activedocument", {type: article.typeArticle.name, id : article.id}) }}' class="{{ class }}">{{ label }}</a>
  	</div>
  	<div class="col-xs-6 manageArticle">
  		<a role="button" href='{{ path('coud_app_admindocument_modifydocument', { id: article.id }) }}' class="btn btn-primary">Modifier le document</a>
  	</div>
</div>
{% if type == 'article' %}
    {{ include('CoudAppBundle:Document:article.html.twig', {'article': article}) }}
{% elseif type == 'portfolio' %}
    {{ include('CoudAppBundle:Document:portfolio.html.twig', {'article': article}) }}
{% elseif type == 'square' %}
    {{ include('CoudAppBundle:Document:square.html.twig', {'article': article}) }}
{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.owl-carousel').owlCarousel({
            items:1,
            margin:10
        })
    </script>
{% endblock %}
