<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Nom du menu</th>
			<th>Nom du lien</th>
			<th>Actif ?</th>
			<th>Sous-menu</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
    {% for menu in mainMenu %}
        {% if menu.active %}
            {% set actif, bouton, label, linkActive, glyph = 'Oui', 'btn btn-danger', 'Désactiver', 'coud_app_adminmenu_desactivatemainmenu', 'glyphicon-remove' %}
        {% else %}
            {% set actif, bouton, label, linkActive, glyph = 'Non', 'btn btn-success', 'Activer', 'coud_app_adminmenu_activatemainmenu', 'glyphicon-ok' %}
        {% endif %}
		<tr>
			<td>{{ menu.id }}</td>
			<td>{{ menu.title }}</td>
			<td>{{ menu.link }}</td>
			<td>{{ actif }}</td>
			<td>
				<ul>
					{% for sub in menu.subMenu %}
					<li>{{ sub.title }}</li>
					{% endfor %}
				</ul>
			<td>
                <a data-toggle="tooltip" title="{{ label }}" href='{{ path(linkActive, {id : menu.id}) }}' class="{{ bouton }}"><span class="glyphicon {{ glyph }}" aria-hidden="true"></span></a>
                <a data-toggle="tooltip" title="Modifier" href='{{ path('coud_app_adminmenu_modifymainmenu', {id : menu.id}) }}' class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            </td>
		</tr>
    {% endfor %}
	</tbody>
</table>
