//   Import
@import 'import/*'

// CSS
/*
 *
 *      Générale
 */

body
    padding-top 90px

a
    display inline-block
    padding 10px 30px
    text-align center

td
    vertical-align middle !important

canvas
    height 100%
    width 100%

/*
 *
 *      Adminstration générale
 */
#mainTitle
    text-align center

#mainButton
    margin-top 50px

#mainButton a
    background-color rgba(mainMenu, .5)
    width 49%
    transition background-color .3s

 #mainButton a:hover
    background-color mainMenu

.alert
    text-align center !important


/*
 *
 *      Adminstration menu
 */
#showMenuExist
    margin-top 50px

#showMenuExist table
    margin-top 25px

#showMenuExist .showMenu
    display inline
    background-color rgba(royalBlue, .5)
    width 49%
    transition background-color .3s

#showMenuExist .showMenu:hover
    background-color royalBlue


/*
 *
 *      FileManager menu
 */
.btn-file
    position relative
    overflow hidden

.btn-file input[type=file]
    position absolute
    top 0
    right 0
    min-width 100%
    min-height 100%
    font-size 100px
    text-align right
    opacity 0
    outline none
    background white
    cursor inherit
    display block

/*
 *
 *      Add image tinymce
 */
.imageForArticle .thumbnail
    &:hover
        img
            opacity .5
        .titre
            opacity 0
        .texte
            opacity 1

    img
        transition opacity .3s
    .titre
        color black
        transition opacity .3s
    .texte
        position relative
        left 0px
        top -25px
        opacity 0
        height 0
        font-size 20px
        transition opacity .3s

/*
 *
 *      Manage article
 */
.manageArticle
    a
        width 100%

.addImagesForm
    max-height 350px
    overflow-y auto


/*
 *
 *      Animation
 */
.animateLeft
    position relative
    animation('delay', .3s)
    animation('duration', 1s)
    animation('name', afficheSectionLeft)
    animation('fill-mode', backwards)
    animation('timing-function', cubic-bezier(.08,.94,.6,.92))

@keyframes {$keyframe-afficheSectionLeft}
    0%
        left -2000px
        transform rotate(30deg)

    100%
        left 0
