// article
.article
  text-align center
.squareFigure, .block-theme
  margin-bottom 30px
  display flex
  justify-content center
  align-items center
  p
    float left
    color #fff
    position relative
    text-overflow ellipsis
    white-space nowrap
    margin-top -49px
    background rgba(0, 0, 0, 0.7)
    padding 15px
  .bandeauImageSquare
    position initial
