//	Mentions légale
.mentionsLegales
  cursor pointer

.modalLabel
  p
  font-style italic

.modalValue
  p
  font-weight 700

//	Footer
.footerXs
  margin-left 15px
  margin-bottom 20px
  a
    margin-bottom 10px

.footerAdmin
  height 60px

.footer
  display block
  position absolute
  bottom 0
  width 100%
  background-color bgFooter

  a
  margin-bottom 20px
    &:first-child
      margin-top 20px

  #lienFacebook, #littleMarket
    border 1px solid #DDDDDD
    transition border .3s, background-color .3s, box-shadow .3s, opacity .3s
    opacity .5
    color #ffffff

  .copyright
    margin 20px 0
    text-align right
    display block

  .link
    margin-top 15px

#lienFacebook
  border 1px solid rgba(59, 87, 157, 0.8)
  background rgb(59, 87, 157)
  color white

#lienFacebook
  &:hover
    box-shadow 0px 0px 50px rgba(59, 87, 157, 0.8)
    border 1px solid rgba(59, 87, 157, 0.8)
    opacity 1

#lienFacebook
  &:active
    box-shadow 0px 0px 50px rgba(49, 74, 127, 0.8)
    border 1px solid rgba(49, 74, 127, 0.8)
    background-color  rgb(49, 74, 127)

#littleMarket
  border 1px solid rgba(171, 49, 114, 0.8)
  background-color  rgb(171, 49, 114)
  color white

#littleMarket
  &:hover
    box-shadow 0px 0px 50px rgba(152, 44, 102, 0.8)
    border 1px solid rgba(152, 44, 102, 0.8)
    opacity 1

#littleMarket
  &:active
    box-shadow 0px 0px 50px rgba(104, 30, 69, 0.8)
    border 1px solid rgba(104, 30, 69, 0.8)
    background-color  rgb(104, 30, 69)
