//	Import
@import 'import/*'

@font-face
  font-family 'Open Sans'
  src url('fonts/OpenSans-Light.ttf') format('truetype')
  font-weight 100
  font-style normal


@font-face
  font-family 'Open Sans'
  src url('fonts/OpenSans-LightItalic.ttf') format('truetype')
  font-weight 100
  font-style italic


@font-face
  font-family 'Open Sans'
  src url('fonts/OpenSans-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal


@font-face
  font-family 'Open Sans'
  src url('fonts/OpenSans-Italic.ttf') format('truetype')
  font-weight normal
  font-style italic


@font-face
  font-family 'Open Sans'
  src url('fonts/OpenSans-Bold.ttf') format('truetype')
  font-weight bold
  font-style normal


@font-face
  font-family 'Open Sans'
  src url('fonts/OpenSans-BoldItalic.ttf') format('truetype')
  font-weight bold
  font-style italic

html
	position relative
	min-height 100%

body
	background-color #fff
	margin-bottom 120px
	font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    min-height 100%

h1, h2, h3, h4, h5, h6, li, p, a, figcaption
	font-weight 300

h1
    font-size 42px


.breadcrumb
  background-color #fff
  margin-top 60px

.alert
  display none
  opacity 0
  transition opacity .6s
