// Homepage
.homepage
  margin-bottom 50px

// Dernier article
.block_article
  display flex
  flex-direction row
  margin 0 auto
  width 100%
  justify-content center
  margin-top 30px
  &:last-of-type
    margin-bottom 150px
  @media (max-width 600px)
    display initial
    &:last-of-type
      margin-bottom 50px
  &:nth-child(odd)
    .block_image
      order 2
      margin-right 0
      margin-left 20px
      @media (max-width 600px)
        margin-left 0
  .block_image
    display flex
    flex-direction column
    margin-right 20px
    @media (max-width 600px)
      margin-right 0
      flex-direction initial
      justify-content center
  .block_caption
    display flex
    flex-direction column
    flex 0 0 45%
.caption
  h2
    text-overflow inherit
    white-space normal
