//	Import
@import 'import/*'

/*
 *
 *      ARTICLE
 */
.article p
    clear both

.article a
    color black
    text-decoration underline

.comment
    //margin-bottom 180px

.infoComment
    font-size 12px
    text-align right
    font-style italic

.imageTitle
    position relative
    bottom 50px
    left 55px
    color white
    border-bottom 1px solid
    overflow hidden
    text-overflow ellipsis
    max-width 250px
    white-space nowrap
    @media (max-width 600px)
        left 20px
        max-width 220px
    @media (min-width 601px) and (max-width 767px)
        left 70px

.commentShowButton
    margin-top 20px
    margin-bottom 20px

.collapseIsHide
    margin-bottom 20px

.collapseIsNotHide
    margin-bottom 0px

//  square
.transitionBorder
    opacity 0
    border 5px solid white
    transition opacity .4s

.animate
    background-color alpha(primaryColor, .7)
    transition: all 0.3s

.squareFigure
    overflow hidden
    padding 0

.squareFigureMobile
    margin-bottom 15px

.mobileTitleImage
    float left
    color white
    position relative
    top 25%
    left 10px
    width 75%
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

.mobileShowImage
    float right
    color white
    position relative
    top 0px
    right 0
    height 100px
    background alpha(primaryColor, .7)
    padding-top 15px
    width 20%
    text-align center

.bandeauImageSquare
    width 100%
    position absolute
    height 50px
    bottom 0
    background rgba(0, 0, 0, 0.7)
    transition height .3s

#fadePhoto
    position fixed
    top 0
    left 0
    background-color rgba(0, 0, 0, 0.8)
    width 100%
    height 100%
    z-index 1050

.fadePhotoDiv
    transition opacity 0.8s


/* Images articles balise "Figure" */
figcaption
    padding-top  10px
    font-size  14px

.figureArticle
    border-top  1px dashed primaryColor
    border-bottom  1px dashed primaryColor
    text-align center
    padding 20px 0
    margin-top 20px
    margin-bottom 20px

    figcaption
        margin auto
        position  relative
        margin-top  -39px
        padding  10px
        max-width 960px
        background-color rgba(black, .3)
        color  white
        opacity 1
        text-align  right

.publishedBy
    text-align right
    margin-top 20px
    margin-bottom 20px

.mainTitle
    margin-bottom 20px

.page-header
    margin-top 0

.shortDescription
    height 50px
    margin-top 10px

.imgLastArticle
    @media (max-width: 767px)
        text-align center

.leftToRight
    position relative
    animation('delay', .4s)
    animation('duration', 2s)
    animation('name', leftToRight)
    animation('fill-mode', backwards)

@keyframes leftToRight {
  from {
    left 2000px
  }
  to {
    left 0
  }
}

.rightToLeft
    position relative
    animation('delay', .4s)
    animation('duration', 2s)
    animation('name', rightToLeft)
    animation('fill-mode', backwards)

@keyframes rightToLeft {
  from {
    right 2000px
  }
  to {
    right 0
  }
}

#article, .sectionTheme
    margin-top 20px
    .breadcrumb
        background-color transparent

.commentPair, .commentImpair
    height 50px
    color white
    padding 5px 10px
    margin-bottom 15px

.commentPair
    background-color rgba(109, 80, 102, .7)
    margin-right 15px

.commentImpair
    background rgba(109, 80, 102, 0.4)
    margin-left 15px

.captionTheme
    position relative
    margin-top -39px
    padding 10px
    width 100%
    background-color rgba(0, 0, 0, 0.3)
    color white
    text-align right


main, .sectionTheme
    //margin-bottom 150px

.portfolioTitle
    background-color rgba(0, 0, 0, 0.3)
    padding 15px
    width 2000px
    color white
    font-weight 300
    position absolute
    top -26px

//  Contact
.contact
    margin-bottom 20px


#formContact
    label
        color primaryColor
        transition height .3s
        height 20px
        overflow hidden

    input, textarea
        border 0px
        outline none
        width 100%
        box-shadow none !important
        border-bottom 3px solid primaryColor
        padding 0
        background-color alpha(bodyColor, 0)
        overflow hidden
        transition height .3s
        color inputColor

    placeholder(color, inputColor)

//  Aside
.aside
    margin-top 60px
    //margin-bottom 120px

.asideImage
    text-align center
    img
        margin 0 auto
        margin-top 60px
        margin-bottom 100px


//  Divers
.animeTop
    transition .4s top;
