//  Import
@import 'import/*'

//	Menu
.navbar-default
  border 0
  border-bottom 3px solid primaryColor

@media (max-width 1000px)
  .navbar-collapse
    float none !important

.navbar, .container-fluid
  transition: -webkit-filter 2s;

.navbar-default
  border 0
  height 70px
  .navbar-brand
    border-top 3px solid $primaryColor
    font-size 24px
  .hide-menu, .show-menu
    z-index -1
    position relative
    transition right 0.4s
    background white
    @media (min-width: 1000px)
      right -800px
  .show-menu
      right 0
  .main-block-open-desktop-menu
    float right
    margin-right -15px
    position relative
    z-index 0
    background #fff
    .open-desktop-menu
      display block
      width 50px
      height 50px
      margin-right 15px
      cursor pointer
      @media (max-width: 1000px)
        display none
      .icon-bar
        position absolute
        width: 22px;
        height: 3px;
        background-color $primaryColor
        &:nth-child(1)
          top 18px
          transition transform 0.4s
        &:nth-child(2)
          top 24px
          left 0
          transition left 0.2s, opacity 0.4s
        &:nth-child(3)
          top 30px
          transition transform 0.4s
    .close-menu
      .icon-bar
        background-color $primaryColor
        &:nth-child(1)
          top 24px
          transform rotate(45deg)
        &:nth-child(2)
          left 100px
          opacity 0
        &:nth-child(3)
          top 24px
          transform rotate(-45deg)
