@media (max-width 767px)
	.portfolioTitle
		top -56px
		left 20px

	.carousel
		margin-left -20px
		margin-right -20px

	.carousel-caption
		width 65%
		padding 0 70px
		margin-bottom 20px

	.carousel-caption h1
		font-size 30px

	.carousel-caption .lead
		display none

	.titleArticle
		margin-left 20px
