{% set datePublished = article.dateCreated %}
<div class="article">
	<div class="page-header">
			<h1 class="titleArticle">{{article.title}}</h1>
	</div>
	<div>

		{{ article.content | raw}}

		<p class="publishedBy">Posté par {{ article.author.firstName }}, le <time datetime="{{ datePublished | date('Y-m-d') }}">{{ datePublished | localizeddate('long', 'none', 'fr') }}</time></p>
	</div>
</div>
