<!-- Modal -->
<div class="modal fade" id="legals" tabindex="-1" role="dialog" aria-labelledby="legalsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="legalsLabel">{{ notices.title }}</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="page-header">
                            <h4>Description de la personne</h4>
                        </div>
                        <div class="col-xs-6 modalLabel">
                            <p>Identifiant de la personne</p>
                            <p>Nom Prénom</p>
                            <p>Catégorie juridique</p>
                            <p>Code NAF</p>
                        </div>
                        <div class="col-xs-6 modalValue">
                            <p>{{ notices.person.id }}</p>
                            <p>{{ notices.person.name }}</p>
                            <p>{{ notices.person.category }}</p>
                            <p>{{ notices.naf }}</p>
                        </div>

                        <div class="page-header">
                            <h4>Description de l'établissement concerné</h4>
                        </div>
                        <div class="col-xs-6 modalLabel">
                            <p>Identifiant de l'établissement</p>
                            <p>Statut</p>
                            <p>Code NAF</p>
                            <p>Adresse</p>
                        </div>
                        <div class="col-xs-6 modalValue">
                            <p>{{ notices.establishment.id }}</p>
                            <p>{{ notices.establishment.state }}</p>
                            <p>{{ notices.naf }}</p>
                        {% autoescape false %}
                            <p>{{ notices.establishment.address }}</p>
                        {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
