{% set datePublished = article.dateCreated %}
{% set dateModified = article.getDateModified %}

<div class="col-xs-12 article">
	<div class="page-header">
  		<h1 class="titleArticle">{{article.title}}</h1>
	</div>
	<div class="col-xs-12">
    {% autoescape false %}
		{{ article.content }}
    {% endautoescape %}
    </div>
</div>

<div class="col-xs-12 center-block">
    <div class="owl-carousel owl-theme">

        {% for image in article.images %}

        <div>
            <figure class="theme">
                <img src="{{ asset('images/article/' ~ image.getPath)}}" srcset ="{{ asset('images/article/' ~ image.getPath)}} 1x, {{ asset('images/article/retina/' ~ image.getPath)}} 2x" alt="{{image.alt}}" title="{{image.title}}" />
                <p data-toggle="tooltip" data-placement="bottom" title="{{ image.title }}" class="imageTitle">{{ image.title }}</p>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>

<div class="col-xs-12">
    <p class="publishedBy">Posté par {{ article.author.firstName }}, le <time datetime="{{ datePublished | date('Y-m-d') }}">{{ datePublished | localizeddate('long', 'none', 'fr') }}</time></p>

    {% if date(datePublished) | date('Y-m-d')  != date(dateModified) | date('Y-m-d') %}
    <p class="publishedBy">Modifié le <time datetime="{{ dateModified | date('Y-m-d') }}">{{ dateModified | localizeddate('long', 'none', 'fr') }}</time></p>
    {% endif %}
</div>
