<div class="article">
  <div class="page-header">
    <h1 class="titleArticle">{{ article.title }}</h1>
  </div>
  <div>
    {{ article.content | raw }}
  </div>
</div>

<div class="center-block">
  {% for image in article.images %}
    <figure
      class="squareFigure {{ isMobileOrTablet ? 'squareFigureMobile' : '' }}"
      onclick="Photo.fadePhotoSquare('{{ asset('images/article/' ~ image.getPath) }}', '{{ image.title }}')"
      title="Agrandir l'image">
      <div>
        <img
          alt="{{image.alt}}"
          class="lazy demoImage img-responsive"
          data-src="{{ asset('images/article/' ~ image.getPath)}}"
          data-srcset="{{ asset('images/article/' ~ image.getPath)}} 1x, {{ asset('images/article/retina/' ~ image.getPath)}} 2x"
          title="{{image.title}}"/>

        <div>
          <p>{{ image.title }}</p>
          {% if isMobileOrTablet == true %}
            <p class="mobileShowImage">
              <i class="fa fa-expand fa-lg"></i>
            </p>
          {% endif %}
        </div>
      </div>

    </figure>

  {% endfor %}

</div>

<div class="col-xs-12">
  <p class="publishedBy">Posté par
    {{ article.author.firstName }}, le
    <time datetime="{{ article.dateCreated | date('Y-m-d') }}">{{ article.dateCreated | localizeddate('long', 'none', 'fr') }}</time>
  </p>

  {% if date(article.dateCreated) | date('Y-m-d') != date(article.getDateModified) | date('Y-m-d') %}
    <p class="publishedBy">Modifié le
      <time datetime="{{ article.getDateModified | date('Y-m-d') }}">{{ article.getDateModified | localizeddate('long', 'none', 'fr') }}</time>
    </p>
  {% endif %}
</div>

{% if isMobileOrTablet == false %}
  {% block executeJS %}
    <script>
      window.addEventListener('DOMContentLoaded', function() {
        //Square.init('animate', 'demoImage');
      });
    </script>
  {% endblock %}
{% endif %}
