{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Gestion des types d'articles{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            {{ form(typeArticleForm, {'attr': {'novalidate' : 'novalidate'}}) }}
        </div>
    </div>


{% endblock %}
