{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Gestion des types d'articles{% endblock %}

{% block main_content %}
    
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Types d'article</h3>
                </div>
                <div class="panel-body">
                    <a href="{{ path('coud_app_admintypearticle_listtypearticle') }}" title="Liste des types d'articles" class="btn btn-default btn-block">
                        Liste des types d'articles
                    </a>
                    <a href="{{ path('coud_app_admintypearticle_createtypearticle') }}" title="Ajouter un type d'article" class="btn btn-default btn-block">
                        Nouveau type d'article
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
