{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Liste des types d'articles{% endblock %}

{% block main_content %} 
    {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for type in typeArticles %}           
            <tr>
                <td>{{ type.id }}</td>
                <td>{{ type.name }}</td>
                <td>{{ type.dateCreated | localizeddate('long', 'none', 'fr') }}</td>
                <td>{{ type.dateModified | localizeddate('long', 'none', 'fr') }}</td>
                <td>
                    <a data-toggle="tooltip" title="Modifier" href='{{ path('coud_app_admintypearticle_modifytypearticle', { id: type.id }) }}' class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}
