//	Variables
$primary-color: #521a56; // Provient de stylus
//$primary-color: rgb(155,89,182);
$primary-text-color: #521a56;
$brand-primary: rgb(155,89,182);
$body-color: rgb(241,235,238);
$mainMenu: rgba(44, 62, 80, 1);
$royalBlue: rgba(65, 131, 215, 1);
$bgFooter: rgba(155,89,182,.2);
$h1Index: #E08283;
$inputColor: #913D88;
$keyframe-fadeIn: fadeIn;
$keyframe-fade: fade;
$keyframe-scale: scale;
$keyframe-afficheSectionLeft: afficheSectionLeft;
$keyframe-afficheSectionRight: afficheSectionRight;
$keyframe-afficheSectionBottom: afficheSectionBottom;
//	Overide Bootstrap
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$icon-font-path: '../bundles/lib/bootstrap-sass/assets/fonts/bootstrap/';
//	Barre de navigation
$navbar-default-bg: lighten(white, 5%);
$navbar-default-border: $primary-color;
$navbar-height: 50px;
$grid-float-breakpoint: 1000px;
$navbar-default-color: $primary-text-color;
$navbar-default-link-color: $primary-text-color;
$navbar-default-link-hover-color: darken($primary-text-color, 10%);
//	Dropdown
$dropdown-link-hover-bg: darken($primary-color, 30%);
$dropdown-link-hover-color: #ffffff;
$dropdown-link-color: $primary-text-color;
// BreadCrumbs
$breadcrumb-bg: $body-color;
//	Page Header
$page-header-border-color: $primary-color;
//  Table
$table-border-color: $primary-color;
$table-bg-accent: rgba($primary-color, .1);
//  Tabs
$nav-tabs-border-color: rgb(155,89,182);
$nav-tabs-active-link-hover-border-color: primary-color;
$nav-tabs-active-link-hover-bg: rgba($primary-color, .1);

$fa-font-path:"../bundles/lib/components-font-awesome/fonts/" !default;
