{% extends ':layouts:base_navbar.html.twig' %}

{% block main_content %}
	<div style="margin-top: 60px">
		<div class="page-header col-xs-12">
			<h2>Contact</h2>
		</div>
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 contact">

			{{ form(commentForm, { 'attr' : { 'novalidate' : 'novalidate', 'id': 'formContact'} } ) }}
		</div>
	</div>

{% endblock %}

{% block executeJS %}
    {% if (sessionMessage) %}
    <script>
        Message.setMessage('{{ sessionMessage.type }}', '{{ sessionMessage.message }}', '{{ sessionMessage.title}}');
    </script>
    {% endif %}
{% endblock %}
