<div id="container-slider" class="container-slider">
    <div id="slider" class="slider">
        <div id="left" class="left"></div>
        <div id="right" class="right"></div>
        {% for doc in importants %}
            <div class="wrapper" data-idx="{{ loop.index0 }}">
                <img
                    class="aImage"
                    alt="{{ doc.image.alt }}"
                    src="{{ asset('images/important/' ~ doc.image.getPath)}}"
                    srcset="{{ asset('images/important/' ~ doc.image.getPath)}} 1x, {{ asset('images/important/retina/' ~ doc.image.getPath)}} 2x"
                    title="{{ doc.image.title }}"/>
                <a href="{{ path('coud_app_document_showdocument', {'mainMenu': doc.mainMenu.link, 'subMenu': doc.subMenu.link, 'slug': doc.slug }) }}" title="{{ doc.title }}">
                    <h3 class="importantTitle">
                        {{ doc.title }}
                        <button type="button" class="btn btn-primary" aria-label="Show article">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </h3>
                </a>
            </div>
        {% endfor %}

    </div>
</div>
