{% extends ':layouts:base_navbar.html.twig' %}

{% block main_content %}
<main class="row homepage">
    <section class="col-xs-12">
        </div>
        {% for doc in lastDocuments %}
          <a class="block_article col-xs-12" href="{{ path('coud_app_document_showdocument', {'mainMenu': doc.mainMenu.link, 'subMenu': doc.subMenu.link, 'slug': doc.slug }) }}" title="{{ doc.title }}">
              <div class="block_image">
                  <img class="lazy img-responsive" alt="{{ doc.image.alt }}" data-src="{{ asset('images/theme/' ~ doc.image.getPath)}}" data-srcset="{{ asset('images/theme/' ~ doc.image.getPath)}} 1x, {{ asset('images/theme/retina/' ~ doc.image.getPath)}} 2x" title="{{ doc.image.title }}" />
                  <noscript>
                    <img alt="{{ doc.image.alt }}" src="{{ asset('images/theme/' ~ doc.image.getPath)}}" srcset="{{ asset('images/theme/' ~ doc.image.getPath)}} 1x, {{ asset('images/theme/retina/' ~ doc.image.getPath)}} 2x" title="{{ doc.image.title }}" />
                  </noscript>
              </div>
              <div class="caption block_caption {{ isMobile ? 'captionMobile' : '' }}">
                  <h2>{{ doc.title | title }}</h2>
                  <span class="label label-primary">{{ doc.mainMenu.title }} | {{ doc.subMenu.title }}</span>
                  <p class="shortDescription">{{ doc.content | stripTagsAndHtmlEntityDecodeFilter }}</p>
              </div>
          </a>
        {% endfor %}
    </section>
</main>

{% endblock %}
