{% extends ':layouts:base_navbar.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/article.min.css') }}"/>
{% endblock %}

	{% if articles is not empty %}
		{% set mainMenuTitle, subMenuTitle = articles[0].mainMenu.title, articles[0].subMenu.title %}

	{% else %}
		{% set mainMenuTitle, subMenuTitle = 'Oups !!!', 'Aucun document existe' %}
	{% endif %}

	{% block title %}
		{{ mainMenuTitle }}
		{% if all is not defined %}
			- {{ subMenuTitle }}
		{% endif %}
	{% endblock %}

	{% block main_content %}
	<section class="sectionTheme">
		{% if articles is not empty %}
		<ol class="breadcrumb">
	  		<li>
	  			<a href="{{ path('coud_app_home_index') }}" title="Retour accueil"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
	  		</li>
	  		<li {% if all is defined %}class="active"{% endif %}>
	  			<a href="{{ path('coud_app_menu_showalltheme', {'mainMenu': mainMenuSlug }) }}" title="{{ mainMenuTitle }}">{{ mainMenuTitle }}</a>
	  		</li>
	  	{% if all is not defined %}
	  		<li class="active">
	  			{{ subMenuTitle }}
	  		</li>
	  	{% endif %}
		</ol>

		<div class="row">
			<div class="page-header col-xs-12">
            	<h2>Choisir un thème</h2>
        	</div>
        	<div class="col-xs-12 center-block">
		    	{% for article in articles %}
        		<div class="col-xs-12 col-sm-4">
				    	<a class="block-theme" href="{{ path('coud_app_document_showdocument', {'mainMenu': mainMenuSlug, 'subMenu': article.subMenu.link, 'slug': article.slug }) }}" title="{{ article.title }}">
				    		<figure class="theme">
				    			<img class="img-responsive" src="{{ asset('images/theme/' ~ article.image.getPath)}}" srcset ="{{ asset('images/theme/' ~ article.image.getPath)}} 1x, {{ asset('images/theme/retina/' ~ article.image.getPath)}} 2x" alt="{{article.image.alt}}" title="{{article.image.title}}" />
				    			<figcaption class="captionTheme">{{ article.title | slice(0,40) }}</figcaption>
				    		</figure>
				    	</a>
				    </div>
		    	{% endfor %}
            </div>
		</div>
		{% else %}
		<div class="row">
			<div class="page-header col-xs-12">
            	<h2>Aucun article actuellement</h2>
        	</div>
        </div>
		{% endif %}

	</section>
	{% endblock %}

{% block footer %}
</div>
    {{ parent() }}
{% endblock %}
