{% extends ':layouts:base_navbar.html.twig' %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-12 center-block aside">
			<div class="col-xs-12 col-sm-6">
				<div class="page-header">
					<h1>{{ aside.title }}</h1>
				</div>
					<p>{{ aside.content | raw }}</p>
			</div>
			<div class="col-xs-12 col-sm-6 asideImage">
				<img src="{{ asset('images/aside/' ~ aside.getPath) }}" srcset ="{{ asset('images/aside/' ~ aside.getPath)}} 1x, {{ asset('images/aside/retina/' ~ aside.getPath)}} 2x" title="{{aside.title}}" class="img-responsive" alt="{{aside.title}}">
			</div>
		</div>
	</div>

{% endblock %}

{% block footer %}
</div>
    {{ parent() }}
{% endblock %}
