{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Formulaire de connexion{% endblock %}

{% block main_content %}

    <div id="form" class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                {% if error %}
                    <div class="alert alert-danger">{{ error.message|replace({"Bad credentials": "Combinaison incorrecte ou votre compte n'est pas encore activé"}) }}</div>
                {% endif %}

                {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}

                <form action="{{ path('login_check') }}" method="post">
                    <div class="form-group">
                        <label for="username">Pseudo ou email</label>
                        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" />
                    </div>

                    <div class="form-group">
                        <label for="password">Votre mot de passe</label>
                        <input type="password" class="form-control" id="password" name="_password" />
                    </div>

                    <div class="checkbox">
                        <label>
                          <input type="checkbox"  id="remember_me" name="_remember_me" checked>Se souvenir de moi !
                        </label>
                    </div>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                    <button class="btn btn-success" type="submit">Se connecter</button>
                    
                </form>
            </div>
            <div style="margin-top: 20px" class="col-xs-12 col-md-6 col-md-offset-3">
                <a type="button" class="btn btn-primary" href="{{ path('coud_app_home_index')}}" title="Retour Coud la comme Judith">Se rendre sur le site "Coud la comme Judith"</a>
                <a href="{{ path('coud_app_security_lostpassword') }}" type="button" class="btn btn-primary" id="forget" title="Mot de passer perdu">Mot de passe oublié ?</a>
            </div>
        </div>
    </div>
    

{% endblock %}
