{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Perte du mot de passe{% endblock %}

{% block main_content %}

<div class="container">
		<div class="row">
			<div class="col-xs-6">
				{{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
				
				{{ form(lostForm, {'attr': {'novalidate' : 'novalidate'}}) }}
				<a type="button" class="btn btn-primary" href="{{ path('coud_app_security_login')}}" title="Retour page de connexion">Retour page de connexion</a>
			</div>

		</div>
	</div>

{% endblock %}
