{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Votre nouveau mot de passe{% endblock %}

{% block main_content %}

<div class="container">
		<div class="row">
			<div class="col-xs-6">
				{{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
				
				{{ form(newForm, {'attr': {'novalidate' : 'novalidate'}}) }}

			</div>
		</div>
	</div>

{% endblock %}
