{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Vos informations{% endblock %}

{% block main_content %}
	
	<div class="row">

		<div class="col-xs-12 col-sm-6">
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
            
			{{ form(userForm, { 'attr' : { 'novalidate' : 'novalidate'} } ) }}
		</div>
		<div class="col-xs-12 col-sm-6">
			<a href="{{ path('coud_app_adminuser_updatepassword') }}" class="btn btn-info btn-block" title="Gestion des menus">
				Changer de mot de passe
			</a>
		</div>

	</div>
    
{% endblock %}
