{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Réinitialiser le mot de passe de l'utilisateur{% endblock %}

	{% block link_home %}<a href="{{ path('coud_app_adminuser_listusers') }}" title="Retour liste des utilisateurs">Retour liste des utilisateurs</a>{% endblock %}

{% block main_content %}
	
	<div class="row">

		<div class="col-xs-12">
            <h3>Réinitialiser le mot de passe de l'utilisateur {{ user.getFirstName }} {{ user.getLastName }}</h3>
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}

            {{ form(newForm, { 'attr' : { 'novalidate' : 'novalidate'} }) }}

        </div>

	</div>
    
{% endblock %}
