{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Création d'un utilisateur{% endblock %}

{% block main_content %}
	
	<div class="row">

		<div class="col-xs-12 col-sm-6">
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
            
			{{ form(userForm, { 'attr' : { 'novalidate' : 'novalidate'} } ) }}
		</div>

	</div>
    
{% endblock %}

