{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block main_content %}
	
	<div class="row">

		<div class="col-xs-12">
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}

            <table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Identifiant</th>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Date de création</th>
						<th>Date de modification
						<th>Actif ?</th>
						<th>Role</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
			    {% for user in users %}
			    	{% if user.isActive %}
			    		{% set active = "Oui" %}
			    	{% else %}
			    		{% set active = "Non" %}
			    	{% endif %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
						<td>{{ user.firstName }}</td>
						<td>{{ user.lastName }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.dateCreated | localizeddate('short', 'none', 'fr') }}</td>
						<td>{{ user.dateModified | localizeddate('short', 'none', 'fr') }}</td>
						<td>{{ active }}</td>
						<td>{{ user.roles[0].name }}</td>
						<td>
						{% if app.user != user %}
							{% if user.isActive %}
                			<a data-toggle="tooltip" href="{{ path('coud_app_adminuser_activateuser', {id: user.id}) }}" title="Désactiver utilisateur" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                			{% else %}
                			<a data-toggle="tooltip" href="{{ path('coud_app_adminuser_activateuser', {id: user.id}) }}" title="Activer utilisateur" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                			{% endif %}
                			<a data-toggle="tooltip" href="{{ path('coud_app_adminuser_modifyaccountuserbyadmin', {id: user.id}) }}" title="Modifier utilisateur" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
						{% endif %}
            			</td>
					</tr>
			    {% endfor %}
				</tbody>
			</table>
            
		</div>

	</div>
    
{% endblock %}
