{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

	{% block link_home %}<a href="{{ path('coud_app_adminuser_listusers') }}" title="Retour liste des utilisateurs">Retour liste des utilisateurs</a>{% endblock %}

{% block main_content %}
	
	<div class="row">

		<div class="col-xs-12">
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}

            {{ form(userForm, { 'attr' : { 'novalidate' : 'novalidate'} }) }}

        </div>

        <div class="col-xs-12 col-sm-3">
        	<a type="button" title="Réinitialiser mot de passe" class="btn btn-info" href="{{ path('coud_app_adminuser_reinitpasswordbyadmin', {id: user.id}) }}">Réinitialiser le mot de passe de l'utlisateur</a>
        </div>

	</div>
    
{% endblock %}
