{% extends ':layouts:base_admin.html.twig' %}

{% block title %}Modification de votre mot de passe{% endblock %}

{% block main_content %}
	
	<div class="row">

		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
            {{ include('CoudAppBundle:Alerts:alert_flash.html.twig') }}
            
			{{ form(changePasswordForm, { 'attr' : { 'novalidate' : 'novalidate'} } ) }}
		</div>

	</div>
    
{% endblock %}
